$image-path: 'http://a.espncdn.com/creativeworks/neutrogena/images/';

$neutrogena-blue: #4262af;
$neutrogena-green: #83c346;
$neutrogena-red: #cf343e;
$neutrogena-orange: #f37c1c;

$text-color: #fff;

$neutrogena-font-family: 'open-sans-condensed';
$ad-unit-width: 300px;
$ad-unit-height: 250px;
$neutrogena-header-height: 45px;
$neutrogena-content-height: 190px;
$neutrogena-footer-height: 15px;

$bg-landon-path: $image-path + 'bg_landon_empty.png';
$bg-landon-path-hires: $image-path 'bg_landon_empty@2x.png';
$bg-landon-width: 300px;
$bg-landon-height: 177px;
